.course-wrap {
  flex: 3;
  .item-wrap {
    margin-bottom: 160px;
    .item {
      width: 100%;
      height: 186px;
      .item-content {
        width: 542px;
        padding: 33px 14px 22px 20px;
        .title {
          width: 270px;
          font-size: 16px;
          line-height: 22px;
          padding-bottom: 10px;
          border-bottom: 1px solid #979797;
          margin-bottom: 8px;
        }
        .summary {
          font-size: 12px;
          opacity: 0.4;
        }
      }
      .fl {
        height: 186px;
      }
      .img-wrap {
        width: 423px;
      }
    }
  }
}
