.course-wrap {
  flex: 3;
  .item-wrap {
    margin-bottom: 160px;
    .item {
      width: 100%;
      height: 186px;
      .fl {
        height: 186px;
      }
      .img-wrap {
        width: 423px;
        background-color: #ff0000;
      }
    }
  }
}
