// 改element-ui
.el-header, .el-main, .el-footer {
  padding: 0;
}

.el-card__body {
  padding: 0;
}

// 改element-ui结束

// 公用
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: inline-block;
}

.cp {
  cursor: pointer;
}

.vab {
  vertical-align: bottom;
}

.vam {
  vertical-align: middle;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: flex;
}

.center {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pr {
  position: relative;
}

.wrap-box {
  width: 1290px;
  margin: 0 auto;
}

.model-title {
  font-size: 20px;
  line-height: 30px;
}

// 公用结束
// 长宽相关
.miw1290 {
  min-width: 1290px;
}

.w300 {
  width: 300px;
}

.w400 {
  width: 400px;
}

.w500 {
  width: 500px;
}

.w600 {
  width: 600px;
}
// 长宽相关结束

// 色彩相关
.cBlu {
  color: #409eff;
}

.cBla {
  color: #303133;
}

.cGra {
  color: #606266;
}

.cGre {
  color: #67c23a;
}

.cYel {
  color: #e6a23c;
}

.cRed {
  color: #f56c6c;
}

.bgcWhi {
  background-color: #ffffff;
}

.bgcGra {
  background-color: #f7f7f7;
}

.bgcGre {
  background-color: #67c23a;
}

// 色彩相关结束

// 字体相关
.fb {
  font-weight: bold;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.lh43 {
  line-height: 43px;
}

.lh70 {
  line-height: 70px;
}

// 字体相关结束

// 元素间距相关
// 填充
.p20 {
  padding: 20px;
}
// 填充结束
// 边框
.br2 {
  border-radius: 2px;
}

// 边框结束
// 间距
.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}
// 间距结束
// 上间距
.mt3 {
  margin-top: 3px;
}

.mt20 {
  margin-top: 20px;
}

.mt42 {
  margin-top: 42px;
}

.mt50 {
  margin-top: 50px;
}

.mt65 {
  margin-top: 65px;
}

// 上间距结束

// 下间距
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

// 下间距结束

// 左间距

// 左间距结束

//  右间距
.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr80 {
  margin-right: 80px;
}

// 右间距结束

// 元素间距相关结束


